body{
  margin:0;
  padding:0;
}

main {
  display: flex;
  justify-content: center;
}

canvas {
  border: 3px solid #ff5722;
}

div#cover {
  display: flex;
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #607d8b;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #00BCD4;
  border-bottom: 15px solid #FF9800;
  width: 120px;
  height: 120px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 2;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}